*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html,body{
  color: white;
  background-color: #1b1b32;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 41px;
}
.App-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
h1{
  color: #1b1b32;
  font-size: 27px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

/*Logo de freecodecamp*/
.frecodecamp-logo-contenedor{
  width: 100%;
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.freecode-camp-logo{
  width: 420px;
  height: 150px;
}

/*lista de tareas*/
.tarea-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 26px;
  margin: 14px;
  border-radius: 26px;
}
